[2022-08-16 11:20] chshersh opened #1 "Implement simple CLI parser"

[2022-08-16 11:24] #1 closed

[2022-08-19 17:06] chshersh opened #3 "Support '.exe' extension in Windows executables"
Executable files on Windows have the `.exe` extension. But currently, `tool-sync` doesn't support this. So we need to add extra handling for this case.

[2022-08-20 09:46] chshersh opened #4 "Add tests for TOML config parsing"

[2022-08-20 09:47] chshersh opened #5 "Run CI in Ubuntu, macOS and Windows"

[2022-08-20 09:48] chshersh opened #6 "Setup binary releases"

[2022-08-20 09:49] chshersh opened #7 "Configure 'rustfmt' and add a CI job"

[2022-08-20 09:50] chshersh opened #8 "Add tests for 'AssetName::get_name_by_os()'"
Blocked by #5

[2022-08-20 09:51] chshersh opened #9 "Add dependabot"

[2022-08-20 09:51] chshersh opened #10 "Add Community guidelines: Funding, Code of Conduct, Contributing"

[2022-08-20 09:53] chshersh opened #11 "Setup pretty error reporting with multiline errors and open issue suggestions"

[2022-08-20 11:13] chshersh opened #12 "Implement pretty-printing of 'ToolError'"

[2022-08-20 13:20] chshersh opened #13 "Expand home path in configuration file"

[2022-08-20 14:22] chshersh opened #14 "Make tools executable after unpacking"

[2022-08-20 15:25] chshersh opened #15 "Implement exe-checking test-suite for the entire hardcoded database"

[2022-08-20 17:29] chshersh opened #16 "Add fancy progress bar"

[2022-08-23 09:40] chshersh opened #17 "Support usage of environment variables auth"

[2022-08-23 12:38] chshersh opened #19 "Prettier progress formatting"
- [ ] Emoji status
- [ ] Aligned tool names
- [ ] Format errors

[2022-08-23 12:39] #16 closed

[2022-08-23 12:55] chshersh opened #20 "Write README"
- [x] Usage Gif
- [x] Simplest config
- [x] More detailed config
- [ ] Guidelines for adding a tool
- [x] How to install?
- [x] CLI usage (with the default config path)
- [x] Features
- [x] Logo
- [x] Badges
- [x] Auth token

[2022-08-23 12:59] chshersh opened #21 "Add tests for overriding DB TOML configs"
- [x] Full configure of a known tool
- [x] Error of an unknown tool
- [x] Error on a known tool with a wrong name
- [x] Error on partial configuration of a tool
- [x] Unknown tool with full configuration
- [x] Known tool with a partial override
- [x] Known tool with a full override

[2022-08-24 14:13] chshersh commented on #12
Closed by #22

[2022-08-24 14:13] #12 closed

[2022-08-24 14:52] chshersh opened #23 "Improve Cargo.toml package metadata before publishing"

[2022-08-24 16:27] #4 closed

[2022-08-24 16:34] chshersh opened #25 "Provide more detailed TOML decoding errors"
Currently, when TOML decoding fails due to missing fields or mismatched values, the error doesn't specify the missing field:

[code]

The corresponding function also simply returns `Option<Config>` instead of providing more details

https://github.com/chshersh/tool-sync/blob/950b4028a619d33303548acd06056949dcec1a4a/src/config/toml.rs#L48-L64

It would provide better UX to add more details to the `

[2022-08-24 17:03] #14 closed

[2022-08-24 17:14] #3 closed

[2022-08-24 17:39] #17 closed

[2022-08-25 16:46] #21 closed

[2022-08-25 16:48] chshersh opened #30 "Configure CI build cache"
The build takes only 1 minute to finish so this is not really needed but a cache based on `Cargo.lock` could be beneficial 👍🏻

[2022-08-26 17:57] #11 closed

[2022-08-26 17:58] chshersh opened #32 "Support not only 'latest' releases"
Currently `tool-sync` downloads the latest release by default. I can imagine some people preferring specific releases. This should be easily supported by `tool-sync` with a few code changes:

- [ ] Add the `tag` field to `ConfigAsset`
    * https://github.com/chshersh/tool-sync/blob/e908503d504b8122459300ed8b4092a9fd63e5a2/src/config/schema.rs#L22-L37
- [ ] Patch TOML decoding
    * https://github

[2022-08-26 17:59] chshersh opened #33 "Better end-of-sync output"
A few improvements ideas:

- [ ] Mention in the end how many tools downloaded and how many failed
- [ ] Suggest to change config/open an issue on specific errors for failed tools

[2022-08-27 12:28] #13 closed

[2022-08-27 13:01] #15 closed

[2022-08-27 13:08] #30 closed

[2022-08-27 13:12] #9 closed

[2022-08-28 17:40] #5 closed

[2022-08-28 17:53] #8 closed

[2022-08-29 12:55] #10 closed

[2022-08-29 12:56] chshersh opened #41 "Configure clippy"

[2022-08-29 13:15] #7 closed

[2022-08-29 13:26] #23 closed

[2022-08-29 13:47] #41 closed

[2022-08-29 14:16] #6 closed

[2022-08-29 14:18] chshersh opened #46 "Support tool-sync by tool-sync"

[2022-08-29 14:25] chshersh opened #48 "Support simple output mode"
Currently, `tool-sync` uses `indicatif` and various progress bars to produce interactive output. However, this output is not displayed on CI which can make things difficult to debulg. I propose to add the `--non-interactive` option that will simply write the output line by line.

This probably requires abstracting the `SyncProgress` type.

[2022-08-29 14:36] chshersh opened #49 "Specify which version of the tool was actually downloaded"
This could be a helpful improvement in the output. I imagine the output to be of the form:

[code]

To do this:

- [ ] Add `tag_name` to the `Release` type here
    * https://github.com/chshersh/tool-sync/blob/0afde4fa01e95910b25397fa55898527a9f24724/src/model/release.rs#L3-L7
- [ ] Patfh `prefix` formatting to specify the tool version as well
    * https://github.com/chshersh/tool-sync/blob/0afde

[2022-08-29 19:19] chshersh opened #50 "Support full automatic asset guess even when 'AssetName' is not provided"
CLI tools on GitHub releases follow common naming schemes. `tool-sync` could guess asset names from releases without the need to specify part of the name.

[2022-08-29 19:44] #20 closed

[2022-08-29 20:34] #46 closed

[2022-08-29 20:36] chshersh opened #52 "Add a command to output default config with comments and explanations"
It can be helpful to get the config without the need to look it up externally.

[2022-08-30 08:14] popzxc opened #53 "Consider using `human-panic` for better error reporting"
Heya! Looking at [this file](https://github.com/chshersh/tool-sync/blob/main/src/err.rs#L16) it seems that you've imlpemented a small toolset for graceful exits upon meeting an irrecoverable error.

However, there exists a crate named [human-panic](https://crates.io/crates/human-panic) which serves the same functionality, but handles everything automatically and provides more info for debug. As a

[2022-08-30 08:31] chshersh commented on #53
Thanks for the suggestion! I haven't heard about the `human-panic` package, it looks cool 👍🏻
I guess, the only argument for not using it is to have fewer dependencies 🤔

Also, in my file I'm using `process::exit(1)` instead of `panic!("...")`. Will there be any difference?

[2022-08-30 08:40] popzxc commented on #53
Well, Rust uses error code 101 for panics. I don't think there should be any other differences related to the process termination.

[2022-08-30 12:54] chshersh opened #54 "Support path 'asset_name/bin/<exe_name>' inside assets"
This is needed for some tools. Example:

* https://github.com/cli/cli/releases/tag/v2.14.7

All the search paths are specified here:

https://github.com/chshersh/tool-sync/blob/cb339b09238964e8dc2d1a72389b6624c5bb7599/src/sync/archive.rs#L144-L153

To fix this problem:

- [ ] Add one more path search entry
- [ ] Add tests for `gh`

[2022-08-30 12:57] chshersh opened #55 "Don't require 'exe_name'"
Currently, `tool-sync` requires to specify `exe_name` in the configuration. However, it often happens that the tool has exactly the same name as the repository. In this case, we could allow to not specify the `exe_name` field and default it to the repo name.

To achieve this, we should patch the tool configuration in relevant places (and add tests as well):

Relevant code:

* https://github.com/ch

[2022-08-30 13:12] chshersh opened #56 "Improve documentation for v0.2.0"
- [x] Generate new GIF
- [x] Add "Quick Start Guide"
- [x] Rewrite the beginning to specify that the tool is for downloading prebuilt binaries
- [x] Add limitations (no completion, man pages, files, only GitHub)
- [x] Add feature: cross-platform
- [x] Ensure all commands are mentioned in the README
- [x] Add the comparison with `cargo-binstall`: https://github.com/cargo-bins/cargo-binstall/
- [x]

[2022-08-31 08:47] chshersh opened #57 "Implement the 'tool install' command"
This command can install a single tool from the repo and update the default configuration as well.

In the first version of this command, it should only support the installation of known tools with the command like:

[code]

If the tool is unknown, it should print the error message:

[code]

The specific behaviour:

1. Check if the tool is known.
2. If yes, try syncing the tool.

[2022-08-31 08:59] gillchristian opened #58 "Consider install tools with Cargo"
This tool is awesome! Thanks for doing it! :bow:

Would you consider support for installing tools with Cargo instead of the binaries?

I know this opens a can of worms, because now every other package manager should be supported as well. In that case maybe it could be some sort of plugin/configuration that tells `tool-sync` how to install a particular tool with a package manager.

I'd be willing t

[2022-08-31 09:12] chshersh commented on #58
Thanks for your kind words 🤗

I learned recently about [cargo-binstall](https://github.com/cargo-bins/cargo-binstall/). Does it satisfy your need? It looks like the tool authors also have plans to support the installation directly from GitHub releases:

* https://github.com/cargo-bins/cargo-binstall/issues/4

I have a separate issue to [add a more detailed comparison with cargo-binstall](https://g

[2022-08-31 15:49] gillchristian commented on #58
I don't think `cargo-binstall` would work for me, I basically install tools from source with Cargo (eg. `cargo install tool-sync`) or with any other package manager the tool is distributed with (be it `stack`, `yarn`, etc)

My thought was that how the build tool works could be configured in the docs and expect the user to have it installed (or be part of the config). But I agree it it would be goi

[2022-08-31 15:49] #58 closed

[2022-09-02 08:02] chshersh opened #59 "Support 'tool sync <owner>/<repo>' command"
When you need to install only a single tool using the configuration.

[2022-09-02 08:03] chshersh commented on #58
@gillchristian I just learned about Clyde. It looks closer to what you're asking so maybe you can have a look whether it does what you want:

* https://github.com/agateau/clyde

[2022-09-03 12:20] #49 closed

[2022-09-03 16:23] #32 closed

[2022-09-03 17:52] MitchellBerend opened #63 "Adding tag support in download progress output"
As discussed in #60 tag support is now actually possible from the start of the
process thanks to PR #61.

The max tag size can probably be passed to the formatter the same way the
`max_tool_size` is passed now. I can try and implement this but it might also
be a good first issue for others so they can familiarize themselves with the
code.

[2022-09-03 18:34] chshersh commented on #63
Thanks for creating an issue! Feel free to try to implement this feature if you fell like it 🙂

I've included it in the upcoming milestone and I think it would be great to do this feature.

[2022-09-05 05:27] MitchellBerend opened #65 "Possible bug with latest tag in tools.toml"
There is a pr (#62) that adds a generate command that will generate the following default .tools.toml
[code]

If we run this uncommented file I get the following output
[code]

My question, is this intended behavior and should the documentation reflect this or is this actually a bug?

I would like @FrancisMurillo's opinion on this as the original implementer as well. As I see it now the tag attrib

[2022-09-05 07:32] chshersh commented on #65
@MitchellBerend Thanks for raising this question!

I think that the current behaviour is valid. In my vision, the `tag` field should exactly match the repository tag. So if there's no tag named `latest`, the command should fail.

The error message could be improved into saying something like:

[code]

or even with the suggestion when possible in some cases:

[code]

There's a long road to this qua

[2022-09-05 09:35] MitchellBerend commented on #65
Okay clear, I will incorporate this in #62 as well since I think this decision should be clear in the config as well.

[2022-09-05 09:36] FrancisMurillo commented on #65
I think an optional explicit latest tag (`tag = "lastest"`, or `version = "latest"`) is valid and would be easy to do. Right now though, I see it really more optional since downloading the latest release is the default behavior (security and features) and only really add the `tag` option when it does not work on their or teammate's machine.

[2022-09-06 05:15] MitchellBerend commented on #65
As there is consensus about this issue I am closing this. Thanks for the discussion.

The default behavior is:
- no tag means latest
- tags should only be specified if a specific release is chosen

[2022-09-06 05:15] #65 closed

[2022-09-06 07:36] MitchellBerend opened #67 "Adding async support for downloading assets"
As it stands now the tool downloads all tools sequentially. This can actually
take a very long time if there are a lot of tools defined in the config, or if
there is some type of ansible/salt-stack deployment going on that also might run
sequentially. I suppose these downloads can actually be done asynchronously.
There are however a number of things to consider.

1. This would make it harder for p

[2022-09-07 11:33] chshersh opened #68 "Add the 'version' field in TOML"
This field is an alternative to the `tag` field (so it should be an error to specify both of them).

This field should support more flexible version matching of tags while the `tag` field supports tags **exactly**. With `version,` it should be possible to specify the following:

[code]

See the following issue for more context:

* https://github.com/chshersh/tool-sync/issues/65

[2022-09-07 11:34] chshersh opened #69 "Improve error messages when the tag is not found"
The error message could be improved into saying something like:

[code]

or even with the suggestion when possible in some cases:

[code]

<hr>

See the following issue for more context:

* https://github.com/chshersh/tool-sync/issues/65

[2022-09-07 11:34] chshersh commented on #65
Thanks everyone for their input! As a followup, I've created the following two feature suggestions:

* #68
* #69

[2022-09-07 11:42] chshersh opened #70 "Add checksum check"
Adding checksum check (SHA256 or MD5) would enable two features:

* Avoiding the downloading if checksum didn't change
* Verifying the exact matching version

The current problem with supporting this feature is that GitHub doesn't provide this information in their API and maintainers usually don't include the checksum either. One example of a package that has checksum is GitHub CLI:

* https://git

[2022-09-07 11:44] chshersh commented on #67
I was thinking about this as well. Indeed, introduction of concurrency would make the code more complex and require to change a lot of things.

I've created the following to help a bit with the speed (although, it's not clear how to do it at the moment):

* #70

For now, it would be great to get more information about potential improvement. Say, write two shell scripts using `curl` to download ass

[2022-09-07 11:46] #63 closed

[2022-09-07 12:00] chshersh opened #71 "Follow the XDG-spec for the configuration file"

[2022-09-07 20:51] hgrahamcs commented on #54
Where are the current paths tested?

[2022-09-08 08:18] chshersh commented on #54
@hgrahamcs Hmm, good question 🤔

There're no tests for checking this function specifically. This issue came up when I tried downloading the GitHub CLI tool using `tool-sync`. So, the test would be:

- [ ] Add `gh` to the hardcoded database:

https://github.com/chshersh/tool-sync/blob/eeed4bb786e5c95e45c41369f8d3d2a7c809200c/src/sync/db.rs#L5

- [ ] Add `gh` to the `full-database.toml` test

https:

[2022-09-08 11:26] #52 closed

[2022-09-08 15:21] MitchellBerend opened #72 "Add a force flag to the default-config command to let it overwrite the existing $HOME/.tools.toml"
Referencing #62

[2022-09-08 15:21] MitchellBerend commented on #72
This looks like a good candidate for the `first-good-issue` label to me.

[2022-09-08 15:35] MitchellBerend opened #73 "Add current version to the generated config without hard coding it in the actual template."
Referencing #62

Im not quite sure if a `build.rs` is the best way to implement this since this means we have to have a template for the `src/config/template.rs` file itself. This sounds like a very weird approach to me but I currently don't see any other way to do this.

The `build.rs` file would look something like
[code]

[2022-09-08 16:00] chshersh commented on #73
Another option would be to use the `CARGO_PKG_VERSION` build time environment variable and the `format!` macro so insert the version inside the template:

* https://stackoverflow.com/a/27841363/2900502

It would require to either move the config from a separate variable inside the `format!()` macro or using a template engine library. I haven't used any but I'd love to avoid unnecessary extra depen

[2022-09-08 17:17] MitchellBerend commented on #73
Would this not still mean we generate the template at compile time, or am I misunderstanding this?

---

Agreed.

[2022-09-09 03:16] chshersh commented on #73
Yes, I did mean using the environment variable. As I understand, it's passed by `cargo` during the build time.

I think I'd like to move towards the direction of generating the default configuration. A few things that come to my mind:

- [ ] **Automatically embedding version.** As discussed in this issue.
- [ ] **Prefill all the tools supported by `tool-sync`**. This requires converting the big `m

[2022-09-09 06:49] MitchellBerend commented on #73
Should we also put the actual definitions of these in a config.toml as well so the tools can be edited without changing the code. This way others can also just fork and edit the config and build from source themselves much easier.

[2022-09-09 17:08] chshersh opened #75 "[RFC] CLI for config related commands"
Blocking #72

`tool-sync` works with the config and it's desirable to have multiple features around easy work with the config. Currently, `tool-sync` has a single command `default-config` to print the default configuration to stdout and the `--config` option to specify the path to the config.

This feels a bit awkward so I'd like to start an RFC about a better design of config-related CLI commands

[2022-09-09 17:09] chshersh commented on #72
Indeed, sounds like a good first issue 🙂

I'd love to get a decision on #75 first though before we invest a lot into the current design.

[2022-09-09 17:14] chshersh commented on #73
Interesting question 🤔 My first thought is to not put the details inside the config about each hardcoded tool to have a smaller default config and show that people don't need to uncomment all these details. Having a single example of a fully-detailed tool (not hardcoded by `tool-sync`) would be enough as people can copy only relevant fields.

When you want to fork a project and get binaries from y

[2022-09-10 06:49] MitchellBerend commented on #75
I personally like having the global `--config` flag. It does not make sense for the `default-config` sub command but I can see it being useful for most other sub commands. If this program gets expands functionality I assume all config options will be put in the `.tools.config`.

Having the ability to check in the `.tools.toml`into a a separate git repo would also play nice with tools like ansible/

[2022-09-10 06:57] MitchellBerend commented on #73
Ye good point, I thought this might have been easier to maintain as well since it would just be a change in the config and rebuild.
But that would also incur more work to maintain the feature as well, which might not even be used.

[2022-09-13 08:17] #33 closed

[2022-09-14 04:48] maku opened #82 "does not work behind a proxy (windows)"
I tried tool-sync on 2 machines. On the machine which uses a proxy the `tool sync` command does not work...

Is there a way to config tool-sync for using a proxy?

[2022-09-14 08:10] chshersh commented on #82
Hi @maku 👋🏻

Currently `tool-sync` doesn't support proxy. I'm using the `ureq` Rust crate for querying an API. I see that it supports proxies:

* [Using HTTP CONNECT](https://github.com/algesten/ureq#example-using-http-connect)
* [`Proxy` struct](https://docs.rs/ureq/latest/ureq/struct.Proxy.html)

But I'm not quite sure how it should be used 🤔 Could you help me out here and provide some more deta

[2022-09-14 08:31] maku commented on #82
I would suggest to provide a configuration option for the proxy string in the .tool.toml file

e.g.
`proxy = http://127.0.0.1:8080`

and pass the data to ureq when available

[2022-09-15 07:28] #73 closed

[2022-09-15 07:41] chshersh opened #83 "Create 'AssetError' and test 'select_asset' function"
This function selects an asset to download based on config:

https://github.com/chshersh/tool-sync/blob/b79eeb91cfdc3a122e6693d503117f68ff1fb44e/src/model/tool.rs#L72-L86

Currently, it returns `Result<Asset, String>` but the goal is to return a custom type for error: `Result<Asset, AssetError`.

The idea is to replace `String` a custom constructor and add tests for these cases.

- [ ] Create a ne

[2022-09-15 07:46] chshersh opened #84 "More elegant definition of hardcoded tools"
Currently, when a new tool inserted in a hardcoded database, it's written like this:

[code]

This is quite verbose. I'd love to be able to use just plain strings here like this:

[code]

I tried doing something like this in the past but the code became quite complicated due to the management of all the lifetimes in the type signatures. But maybe there's a good middle-ground, so I want to try agai

[2022-09-15 07:57] chshersh opened #85 "[RFC] Support more tools natively"
Blocked by #84

Currently `tool-sync` supports only a handful of tools. But let's add more useful tools! Feel free to add ideas if the tool follows [suggestions for adding a new tool](https://github.com/chshersh/tool-sync#adding-a-new-tool).

At this moment, I see the following tools as good additions:

- [ ] [procs](https://github.com/dalance/procs)
- [ ] [sd](https://github.com/chmln/sd)
- [ ] [

[2022-09-15 08:00] chshersh opened #86 "Support tarballs with the GNU Sparse File extension"
Currently, `tool-sync` can't support some tools because their macOS archives use the GNU Sparse File feature:

https://github.com/chshersh/tool-sync/blob/b79eeb91cfdc3a122e6693d503117f68ff1fb44e/src/sync/db.rs#L99-L110

This is blocked by the following issue in `tar` crate:

* https://github.com/alexcrichton/tar-rs/issues/295

[2022-09-15 08:04] chshersh commented on #83
Hmm, I didn't know about `Display` 🤔
Is this the standard and common way to format data types in Rust?

I don't mind using a more standard way of implementing things 🙂 I believe I defined the `display` function manually in several places. So maybe we could start with the refactoring of these functions to use `Display` instead?

[code]

[2022-09-15 08:17] MitchellBerend commented on #83
This `Display` trait is like pythons `__repr__` if you know that.

Here is some example:
[code]

[2022-09-15 08:25] chshersh commented on #83
This looks great! 👏🏻
In that case, let's go with `std::fmt::Display` instead of our own `display` function. I've edited the issue description.

I like learning about such things about idiomatic Rust code and what are the standard best practices 😌

[2022-09-15 09:59] MitchellBerend commented on #83
Im not sure how invasive this change will be but I was thinking that all functions that take some error can be made generic over all types that implement `Display`. That way the error itself can be passed instead of having to convert it manually first.

[code]
[code]

[2022-09-15 13:48] MitchellBerend commented on #83
Id like to leave good-first-issues for others so they can get familiar with the code base. So unless this is blocking some other issue I will leave this open.

[2022-09-15 14:00] chshersh opened #87 "Use statically linked binaries for linux"
See the discussion:

* https://github.com/taiki-e/upload-rust-binary-action/issues/29

[2022-09-15 14:05] chshersh opened #88 "Refactor custom 'display()' functions to use the 'Display' trait"
See the discussion in #83

The idea is to implement the [std::fmt::Display](https://doc.rust-lang.org/std/fmt/trait.Display.html) trait for data types where we already use a custom `display()` function. Specifically:

- [ ] `TomlError::display`
    * https://github.com/chshersh/tool-sync/blob/b79eeb91cfdc3a122e6693d503117f68ff1fb44e/src/config/toml.rs#L16-L24
- [ ] `ToolError::display`
    * https

[2022-09-15 14:07] chshersh commented on #83
@MitchellBerend That's an excellent idea, I completely agree with this 🆗

I've created a separate issue to refactor usages of the existing `display()` method to use the `Display` typeclass:

* https://github.com/chshersh/tool-sync/issues/88

Feel free to create an issue for better `abort_with` functions 👍🏻
I might create them as well by myself later once #88 is done but you can go ahead and create

[2022-09-15 17:50] #57 closed

[2022-09-15 17:56] chshersh opened #90 "[RFC] Update the config with the new tool in the 'install' command"
The `install` command just installs the tool. It would be nice if it also updates the config, so the future `tool sync` calls would sync the tool.

The behaviour should be following:

- [ ] Check if the tool is already in config
- [ ] If not, add it to the end of the configuration file
- [ ] Write an information message saying that the configuration file was updated

### Alternative

Possible two

[2022-09-15 18:08] chshersh opened #91 "Support all the fields of the 'ConfigAsset'"
Currently, it's possible to install only hardcoded tools without any configuration. It would be nice to have all the fields of the `ConfigAsset` type be able to specify as CLI flags.

The only challenge — **the CLI interface**.

It's nice to install a single tool with a command:

[code]

But `ConfigAsset` has fields `repo` and `exe_name`. Which one of them should be the default string argument?

<

[2022-09-15 18:34] chshersh opened #92 "Install tools from config using 'tool sync <tool-name>'"
Add the string argument to the `tool sync` command like so:

[code]

To allow syncing a single tool from the config. Sometimes you just want to update one of the tools to the latest version (or specific tag) and don't want to redownload all the tools but still use the config.

If the tool is not found in the config, suggest using `tool install` command.

[2022-09-15 18:47] chshersh opened #93 "[RFC] Refactor integration testing"
The way tests are implemented currently, it requires lots of manual changes to the CI config. Because of that, the CI configuration is getting bigger, noisy, harder to maintain and error-prone. It also contains lots of boilerplate to support cross-platform tests:

Just look at these 100 lines of YAML 😨

https://github.com/chshersh/tool-sync/blob/2bb99cf7724980f32e6ab1f970548b436aad99c3/.github/wor

[2022-09-16 03:16] zixuanzhang-x commented on #83
Hello, I'm a Rust beginner and I saw this awesome project! This **development-tools as code** concept is really cool and I'd love to contribute to it!

If there's no one working on this issue already, may I start working on it?

[2022-09-16 04:05] MitchellBerend commented on #83
I'm not working on this.

[2022-09-16 07:04] chshersh commented on #83
@zixuanzhang-x No one is working so feel free to start 🙂
Really appreciate contributions 🤗

[2022-09-16 09:48] MitchellBerend commented on #90
We could also add a prompt for the user along side one of these options if no flag is provided? That way there is no default that can mess up the config.

[2022-09-16 11:40] chshersh commented on #90
I'm leaning towards the `--update-config` option for two reasons:

1. According to CLI Guidelines, tools shouldn't mutate user-facing files unless specified explicitly.
2. One possible use case for the `tool install xyz` is to install a tool, play with it locally and decide whether you actually want it or not. So you may not want to add it to the config by default but decide later.

[2022-09-16 14:28] MitchellBerend commented on #54
@hgrahamcs Are you still working on this?

[2022-09-16 15:20] #87 closed

[2022-09-17 16:49] chshersh opened #96 "Use the 'pretty-assertions' crate"
This package provides a better UX for failing tests.

* https://github.com/rust-pretty-assertions/rust-pretty-assertions

Honestly, I think it should be the default. But it's possible to use this crate only for tests and not for users so it shouldn't affect people install `tool-sync` with `cargo install`.

[2022-09-18 17:37] MitchellBerend commented on #96
I was thinking of refactoring the way errors are printed to stdout/err if that is not included in #97, we can include this in the same refactor and I think we can also just add this as a dev dependency so it will only be included in the binary that gets built with `cargo test`

[2022-09-18 17:50] MitchellBerend opened #98 "Refatoring of all functions that print to stdout/err so they accept a generic type that implements the Display trait"
The following locations are potential candidates. These should not have a big impact on the rest of the code base, but they allow all the errors and other enums to have the same implementation strategy.

I would love some feedback on this.
- [x] `src/infra/err.rs`
https://github.com/chshersh/tool-sync/blob/65b53bdbb51fcbe59d5c57a2b5bd1d9181ea6fcf/src/infra/err.rs#L3-L13
- [x] `src/infra/err.rs`
ht

[2022-09-18 18:23] chshersh commented on #96
#97 looks pretty separate to me 👍🏻
This issue can be implemented separately. I imagine a pretty small diff. It's just adding proper imports, dev dependencies and quickly verifying that it does work as expected.

Come to think of it, it would be nice to **enforce** the usage of `pretty-assertions` everywhere in the codebase so it would be impossible to use plain `assert_eq!` 🤔 Is there a way to do

[2022-09-18 18:33] chshersh commented on #98
@MitchellBerend Thanks a lot for collecting all the usages of errors!

I marked this issue as blocked by #88 as the `Display` refactoring needs to happen first. Using `Display` instead of custom `display()` is definitely a welcome change 👏🏻

For this particular issue, it's a bit hard to evaluate whether it'll simplify the code or make it less maintainable. In theory, specifying the `err_msg` argum

[2022-09-18 22:37] #83 closed

[2022-09-18 22:44] zixuanzhang-x commented on #88
Sicne I just worked with implementing `Display` trait, this issue is probably a good one for me to get more familiar with the code base. If it's not taken then I'll start working on it?

[2022-09-18 23:01] chshersh commented on #88
@zixuanzhang-x Sounds like an excellent next issue 🥇

It's not taken. And I think @MitchellBerend will be really pleased when this one is done so we can unlock:

* #98

[2022-09-19 01:38] zixuanzhang-x commented on #92
This looks like a fun one and a good opportunity to learn `clap`, may I take this one?

[2022-09-19 06:04] MitchellBerend commented on #96
I don't know of any but this can be caught in review too.

[2022-09-19 06:15] MitchellBerend commented on #98
`std::error::Error` does not have the `Display` trait implemented and rust requires either the trait or the struct/enum to be defined in the crate itself, so I'm not sure if we can use that with the proposed change. Im not sure how eyre gets around this though.

[2022-09-19 06:21] MitchellBerend commented on #98
Should we add a blocked label btw? That seems like a good idea so others don't waste time on issues that can't actually be solved yet.

[2022-09-19 07:37] MitchellBerend commented on #54
@chshersh are the tasks in this issue still current or do I need to revise this fully?

[2022-09-19 07:51] MitchellBerend commented on #84
I think it is possible to have these strings as `&'static str` so there is no need for the lifetime mess. This would mean other parts of the codebase would also have to change to accommodate this. Im not sure how serde deals with `String` vs `&str`.

[code]

[2022-09-19 08:12] #88 closed

[2022-09-19 08:13] chshersh commented on #92
@zixuanzhang-x Indeed, this sounds like a good first issue to me 🙂
Feel free to give it a try.

CLI parsers with `clap` are defined here:

* https://github.com/chshersh/tool-sync/blob/main/src/config/cli.rs

[2022-09-19 08:19] chshersh commented on #96
Looks like we can use `clippy` configuration options `disallow_methods` to forbid the usage of specific functions:

* https://rust-lang.github.io/rust-clippy/master/#disallowed_method

My plan would be the following:

* Try this config option to see if it can forbid `assert_eq!`
* Try with `pretty-assertions` to make sure that it doesn't warn on `assert_eq!` from an external library

If this works

[2022-09-19 08:24] chshersh commented on #98
The `blocked` label sounds like a good idea! I've created it and added it to a blocked issue.

However, this issue is no longer blocked as #88 actually was already done by @zixuanzhang-x 😅

There's no way to specify what issue is blocking inside the label text. So I propose to put the "Blocked by #NUMBER" string in the beginning of every issue that is blocked by something else.

[2022-09-19 08:25] chshersh commented on #54
@MitchellBerend The tasks in the issue description and my previous comment are still current 👍🏻

Feel free to take this issue. I'd like to release `tool-sync v0.2.0` this week and there're only a few issues left in the `v0.2.0` milestone.

[2022-09-19 08:35] chshersh commented on #84
I'm not sure `&'static str` will work here. `ToolInfo` is created from `ConfigAsset` in `sync/conflgure.rs` so it can't be statically known:

https://github.com/chshersh/tool-sync/blob/52a38037e21bf539eb11dfec3dfa643b2b8a691c/src/sync/configure.rs#L30-L52

The `ToolInfo` definition probably should be changed to:

[code]

And then `build_db()` could return:

[code]

This may require performing this

[2022-09-19 09:19] MitchellBerend commented on #84
A macro is a good idea actually I can look into that. Would it be nice to have the macro take a list of `ToolInfo` definitions or just a single one so it would have to be called multiple times?

[2022-09-19 09:24] chshersh commented on #84
Let's keep the macro simple. It should take a single one and be called multiple times. I'm even okay with keeping `tools.insert` outside the macro just to keep code more understandable.

[2022-09-19 11:56] #98 closed

[2022-09-19 12:43] chshersh commented on #54
@MitchellBerend Unfortunately, `gh` has several assets matching the string `linux_amd64`:

* `gh_2.14.7_linux_amd64.deb`
* `gh_2.14.7_linux_amd64.rpm`
* `gh_2.14.7_linux_amd64.tar.gz`

So it's not enough to specify only this string. Try the following instead:

[code]

The error message `[error] Unsupported asset type: gh_2.14.7_linux_amd64.deb ` is probably not clear as well so it could be improve

[2022-09-19 12:53] MitchellBerend commented on #54
Okay I added the new path option but I also want to expand the scope of this issue to include that error message.

[2022-09-20 02:23] zixuanzhang-x commented on #92
Would it be more convenient to allow users to specify multiple tools they want to sync instead of a single one?

[2022-09-20 09:25] chshersh commented on #92
@zixuanzhang-x I don't think we need to go that far 🙂 We already have the TOML configuration that specifies several tools. And it feels like overlapping use-cases. Also, error-reporting may become more complicated when you want to output errors for multiple tools (like, some of them are found in the config and others are not and it becomes messy).

I imagine syncing a single tool when a user knows

[2022-09-20 12:00] #54 closed

[2022-09-20 12:05] chshersh commented on #59
This is actually a duplicate of #92, so I'm closing this issue.

Using the `<owner>/<repo>` shortcut would be nice for the `tool install` command but it requires #50 first.

[2022-09-20 12:05] #59 closed

[2022-09-20 15:56] MitchellBerend commented on #84
@chshersh I took a stab at implementing this macro (its a monster). I believe this syntax looks a lot like javascript with the anonymous objects in there. This can obviously be changed.

[code]

[2022-09-20 17:51] #56 closed

[2022-09-20 18:01] chshersh commented on #84
@MitchellBerend Great work on the macro! 👏🏻 It actually looks neat 😎

But after thinking about this issue for a while, I realised that we probably don't even need macro at all! Maybe this is what were trying to say in [your previous comment](https://github.com/chshersh/tool-sync/issues/84#issuecomment-1250684464). But I think, it's better to go with a simpler option.

We can create a **new** data

[2022-09-20 18:26] #55 closed

[2022-09-20 18:54] MitchellBerend commented on #84
Fair assessment, this macro looks hard to maintain for me too. It looks very complicated and macro syntax in general can get very unrustlike imo.

Im guessing there has to be a [From](https://doc.rust-lang.org/std/convert/trait.From.html) implementation. How are `None`s handled here?

[code]

[2022-09-20 18:55] chshersh commented on #75
I propose to keep the `default-config` command and implement the `--path` option for it.

The truth is, I'm not sure that we'll want to add more complications to the config commands just to support something that is easier to do by simply editing the config. So I don't think we'll have the `set-config` or other commands.

Another sanity check: it's not even clear what `tool config` on its own shou

[2022-09-20 18:55] #75 closed

[2022-09-20 18:57] chshersh commented on #72
@MitchellBerend Do you still think that we want to implement it?

I think that

[code]

Is shorter and clearer than

[code]

[2022-09-20 19:02] chshersh commented on #84
Yes, that sounds good to me 🙂

I imagine something like this:

[code]

And in the code it'll be like:

[code]

It looks like but I don't expect this string to be inside any asset name. We can make it more random to minimise the chances of collision. But anyway, this is not a problem because this is for hardcoded tools. And we control that. So we can always change if some new tool somehow manages t

[2022-09-20 19:03] MitchellBerend commented on #72
I agree with this, thinking about this from a new users perspective they might run this command and see it print the config to stdout and (on unix) they will probably redirect that to a file anyway. Unless there is some command in the future that edits/augments the config file automatically (like #90 or #92 perhaps) I think we should stay as close to that as possible.

[2022-09-20 19:08] MitchellBerend commented on #84
Does github support unicode in binary names? We could just append a :-1: if it does not.

The constant seems like a good choice here, to me its very clear semantically.

[2022-09-20 19:09] chshersh opened #107 "Remove the dynamically linked 'tool-sync' asset"
Since we generate the statically linked binaries, we don't need the dynamically linked anymore. We couldn't remove them before because we needed the `v0.2.0` release. But it's okay to do the cleanup now 👍🏻

Specifically,

- [ ] Remove the generation of dynamically linked assets

https://github.com/chshersh/tool-sync/blob/df7d4768c9cff2a91616bd9686bc928a52fc8c10/.github/workflows/release.yml#L26-L2

[2022-09-20 19:10] chshersh commented on #84
Now we're talking 😅
But I don't know the answer to this question 🤔

[2022-09-20 19:15] chshersh opened #108 "Ensure 'SyncProgress::new()' doesn't take empty Vector"
The `SyncProgress::new()` method accepts a vector and requires it to be non-empty:

https://github.com/chshersh/tool-sync/blob/df7d4768c9cff2a91616bd9686bc928a52fc8c10/src/sync/progress.rs#L24-L27

It's created here:

https://github.com/chshersh/tool-sync/blob/df7d4768c9cff2a91616bd9686bc928a52fc8c10/src/sync.rs#L72

However, the `tool_pairs` list might be empty after the `prefetch` phase 💥

In th

[2022-09-20 19:18] chshersh opened #109 "Implement the '--path' option for the 'default-config' command"
Instead of outputting the config content, it should output the path to the default config location.

Relevant code parts:

* CLI argument type

https://github.com/chshersh/tool-sync/blob/df7d4768c9cff2a91616bd9686bc928a52fc8c10/src/config/cli.rs#L21-L22

* Running the command

https://github.com/chshersh/tool-sync/blob/df7d4768c9cff2a91616bd9686bc928a52fc8c10/src/lib.rs#L21

* Creating the path

h

[2022-09-20 19:26] chshersh opened #110 "Introduce the 'OS' enum and improve error messages"
Currently, `tool-sync` matches the value of `env::consts::OS` with the hardcoded string to extract the relevant part of the asset name:

https://github.com/chshersh/tool-sync/blob/df7d4768c9cff2a91616bd9686bc928a52fc8c10/src/model/asset_name.rs#L18-L22

I propose to introduce an `enum` with 3 constructors. This should allow us to support more OSes in the future if we ever need. And it'll help to i

[2022-09-20 19:34] chshersh opened #111 "Output tools URLs in the 'default-config' command"
The default configuration contains only tool names:

https://github.com/chshersh/tool-sync/blob/df7d4768c9cff2a91616bd9686bc928a52fc8c10/tests/default-config.toml#L12-L18

But for many people, those names don't mean anything. So I propose to write links to GitHub repos nearby as well. They could serve as a link to documentation and also a quick way to see the tool. So something like this:

[code]

[2022-09-20 19:40] chshersh opened #112 "Test the extended configuration part in the 'default-config' output"
The default configuration provides an example of a more detailed config:

https://github.com/chshersh/tool-sync/blob/df7d4768c9cff2a91616bd9686bc928a52fc8c10/tests/default-config.toml#L22-L38

However, this is not tested at all. The TOML format might diverge and there's no way to know if we need to change the default config. So I propose to automate testing by doing the following:

- [ ] Implement

[2022-09-21 00:30] zixuanzhang-x commented on #92
Got it, that make sense.

[2022-09-21 10:00] MitchellBerend commented on #96
Unless Im doing something wrong I can't seem to get clippy to run on tests.
Note that the top of the test section in `src/config/toml.rs` contains the following lint option:
[code]

[code]

[code]

[code]
[code]

[2022-09-21 10:10] chshersh commented on #96
@MitchellBerend I found this `clippy` issue:

* https://github.com/rust-lang/rust-clippy/issues/8065

It suggests that there's a hidden option `--tests` that you can use to run `clippy` in tests (and it doesn't run in tests by default). Could you try with it?

[2022-09-21 10:11] MitchellBerend commented on #96
I did, its the last output in the previous comment.

[2022-09-21 10:17] MitchellBerend commented on #84
Since unicode is supported in git tags (I think) they can also show up in the release name right? Are there any banned characters or maybe some other affix?

[2022-09-21 10:57] chshersh commented on #96
Oh, didn't notice 😮
In that case, I'm not sure how to fix it 🤔

[2022-09-21 12:01] MitchellBerend commented on #84
Implementing this still leaves some `.into()` calls in the insert. The [standard lib](https://doc.rust-lang.org/std/convert/trait.Into.html) says not to implement `Into` directly but in my mind it does make more sense to implement `Into`.

[code]

[2022-09-21 13:05] chshersh commented on #84
@MitchellBerend It looks much nicer with this new approach! I like it 🙂

Let's implement `From` to follow idiomatic Rust. I actually don't see any difference so `From` is fine for me 👍🏻

Also, I think you can avoid `"github".into()` if you change the type of key in the `BTreeMap` database from `String` to `&'static str`

[2022-09-22 08:23] slyshykO opened #115 "Self update under windows issues."
Is it possible to sync the tool from the tool under windows?
I am getting the error:
[code]

[2022-09-22 08:33] MitchellBerend commented on #115
Hi @slyshykO thanks for creating this issue, can you supply your `tools.toml` config file?
I think most (if not all) current contributers work on unix, so feedback on windows issues is very helpful. They can be incorporated in ci so they are caught earlier in the development process.

[2022-09-22 08:38] slyshykO commented on #115
[tool.toml.zip](https://github.com/chshersh/tool-sync/files/9623945/tool.toml.zip)

this is my config.

[2022-09-22 08:56] MitchellBerend commented on #115
Are you on WSL? I did not know windows also had a $HOME environment variable.

For future reference, this is their config file
[code]

[2022-09-22 09:00] MitchellBerend commented on #115
@slyshykO
Can you please try it with this config, there might be an issue with the way the windows config is hardcoded. This overwrites the hardcoded version.

[code]

[2022-09-22 09:09] slyshykO commented on #115
@MitchellBerend
Try to run with changed config - same error.
I think the problem is that it is impossible to rewrite the file that is used by the system.
So the tool can't rewrite itself cause it running at that time.

[2022-09-22 09:13] MitchellBerend commented on #115
Mhh okay I don't know enough about windows to help with that, is there a common way to do self update on windows?

[2022-09-22 09:59] slyshykO opened #116 "Can't sync starship"
https://github.com/starship/starship/releases

[code]

[code]

[2022-09-22 10:37] MitchellBerend commented on #116
Related to #102 and #70

There seems to be a naming convention where the name of the binary including the compression format is appended with the sha checksum in some projects.

[2022-09-22 12:32] chshersh commented on #115
I wasn't aware Windows has such a problem 😮

I don't know how to fix it, this requires some investigation. Any help is appreciated! 🙏🏻
But it would be nice to include the fix for this in the next version.

[2022-09-22 12:33] #84 closed

[2022-09-22 12:43] chshersh commented on #116
Indeed, that's a problem. Currently, there's no way in `tool-sync` to specify the exact asset when things like this happen.

The quick fix by @MitchellBerend in #117 solves this particular problem. But it's a bit ad-hoc. Someone down the road stores checksum with `.md5` suffix and we'll need to introduce another dirty quick fix.

We can merge the quick fix to support a popular Rust tool. `starship

[2022-09-22 12:46] MitchellBerend commented on #116
Oh I totally forgot `md5`, I would very much like regex support but iirc [regex](https://crates.io/crates/regex) is a huge crate.

[2022-09-22 12:48] slyshykO commented on #116
can we start [wildmatch](https://crates.io/crates/wildmatch)

[2022-09-22 15:10] MitchellBerend commented on #116
Unless I'm reading the docs wrong this doesn't solve the problem of having an extra suffix.

Another option is to treat the asset_name as the suffix that needs to be matched but that would exclude the option of having the asset name match on any substring.

[2022-09-22 16:44] chshersh opened #119 "Depluralise tools in the success case"
It's a very common case when only a single tool is synced/installed:

* `tool install xyz`: install a new single tool
* `tool sync xyz`: sync only one tool from the config
* Only 1 tool is specified in the config (or left after filtering all errors)

But the success message always uses the plural form `tools`.

I propose to use `tool` instead of `tools` when only 1 tool is installed:

https://gith

[2022-09-22 17:22] MitchellBerend commented on #112
Would the implementation of this serialization be implemented in the binary itself or only in the test?

Another question I have is do we add fuzzing for this test? This could potentially be flaky but I like the idea of testing random inputs.

[2022-09-23 00:27] #92 closed

[2022-09-23 00:35] chshersh commented on #112
It'll be used only for tests. So I expect that it'll be stripped as an unused symbol (our current release process runs `strip`). But even if not, it's just a small part, so I'm not worried too much.

I propose to implement it in the binary. We might want to add a feature where we suggest putting the full table in the config, so this serialization might be handy.

Fuzzing would be nice. All fields

[2022-09-23 01:23] zixuanzhang-x commented on #109
Just to clarify, when the user type `tool default-config --path`, we should just print the path that gets returned by `resolve_config_path()`?

[2022-09-23 02:19] zixuanzhang-x commented on #108
We want to handle this error in `sync_from_config_no_check()` right? The empty configuration error is already handled in `sync_from_config()`, so I guess we just need to handle whatever error may have happened in the prefetch phase?

[2022-09-23 06:17] MitchellBerend commented on #116
Is the `exe_name` option even required anymore if regex is added like this?

[2022-09-23 08:13] MitchellBerend commented on #112
I have been thinking about this and what are we actually testing here? Initially I thought it was about the conversion to and from toml being commutative but reading more into this, that would mean the comments aren't of consequence.

Is the intent here just to check if the `tests/default-config.toml` is correct?

[2022-09-23 08:46] chshersh commented on #109
@zixuanzhang-x Yes, you're correct, we should print only the path to stdout. But it shouldn't be the result of `resolve_config_path()`.

I propose to move the following part into a separate function like `get_default_config_path()` and use it in the `--path` option and in the `resolve_config_path()` functions.

[code]

[2022-09-23 08:49] chshersh commented on #108
@zixuanzhang-x You're correct 😌

`sync_from_config()` checks if user specified any tools at all. But even if they specified, we still might get an empty list of tools to download after this line:

https://github.com/chshersh/tool-sync/blob/df7d4768c9cff2a91616bd9686bc928a52fc8c10/src/sync.rs#L62

So I would add a check immediately after the previous line and either stop immediately by outputting a

[2022-09-23 08:52] chshersh commented on #116
It's required. This option is used to find the executable inside the asset archive. It's currently not used in the matching phase.

Indeed, portable file paths is a problem I've encountered before. But it looks like not a problem?.. At least, I'm using the same config and `/` paths on CI for Windows, macOS and Linux and seem to work 🤔 Maybe because of PowerShell, it can handle them.

[2022-09-23 08:59] chshersh commented on #112
@MitchellBerend Indeed, it's always good to revisit our assumptions 😌

In this issue, I want to only test the `default-config.toml` and make sure that the code under comments is valid. The way I imagined that is to implementing an encoding function for `ToolInfo` so it can be used in the generation of the default config. And since we have two functions (for decoding and encoding) it makes sense to

[2022-09-23 13:54] MitchellBerend commented on #68
I think regex is also a good option to solve this issue. I'm starting to lean towards adding the (regex)[https://crates.io/crates/regex] crate more and more since #50 and #116 probably would also benefit from this.

[2022-09-23 21:20] chshersh commented on #68
Maybe we can use `wildmatch` as suggested before? And if this is not enough, we can use `regex` instead. I believe, with wildmatch is should be possible to write `13.*.*` and it should match what we want. It doesn't check as substring so it'll actually check from the beginning which is what we want (if I correctly understand the docs but this can be double-checked in the code).

[2022-09-24 08:24] MitchellBerend commented on #68
There is no end of pattern marker in `wildmatch` I think so  `13.*.*-alpha` (like in [mirrord](https://github.com/metalbear-co/mirrord/releases)) would also be matched with `13.*.*`

[2022-09-24 14:13] MitchellBerend commented on #70
Is there a reason the tool should not just check all the files in the release for a `sha` or `md` sub string? There is a small discussion about requesting the feature [here](https://github.com/orgs/community/discussions/16426). I think we can just support this feature for repos that do publish a checksum.

I would add an optional option in the `tool.toml` like this.

[code]

[2022-09-24 15:53] chshersh commented on #50
I propose the following design for better maintainability and understandability:

**Model selection rules as an enum data type in a declarative way and specify rules for each OS.**

To be more precise, model query as the following type:

[code]

Then, one can easily implement a recursive function for matching a string with a rule:

[code]

A possible rule for macOS could look like this with some e

[2022-09-24 16:12] chshersh commented on #70
The `checksum` field is the way to go 👍🏻
I've checked some common tools. Not many of them provide checksums in their GitHub releases but a few tools to actually provide. And I've added all the tools I've found in the issue body with the description of how they provide the checksum.

Indeed, we can implement this feature by supporting only tools that do provide the checksum. It's not a problem 🙂

A

[2022-09-24 17:01] MitchellBerend commented on #70
Okay I suppose we should implement this feature then, since for me the file integrity is enough of a reason for me already.

---

We can solve this with regex if we assume the pattern looks something like `\.[a-z]+\d{1,3}$`. This would match `md5` `sha224`  `sha384` etc.
The approach like you proposed in #50 would also work here I think.

We could download these types of files first to see if the

[2022-09-24 17:06] MitchellBerend commented on #50
I like this idea, not operations in regex are a real pain to do. I think the implementation of this feature depends on how much of the functionality we want exposed to the user. I think regex is common enough to assume users already know how to write correct patterns.

[2022-09-25 13:42] MitchellBerend commented on #82
@maku are you working on this? Otherwise I will try and implement this. Im actually running into the same issue right now.

[2022-09-25 17:23] maku commented on #82
@MitchellBerend no i do not work on this

[2022-09-25 19:16] MitchellBerend commented on #82
I have tried playing around with with this issue and its actually harder than I thought.

Some thoughts I have already:

There should probably be a global proxy option] but I can also see different tools having different proxies.
A new flag `--proxy` seems like a nice way to adhoc add a proxy for a single run just like `--config`.

What do you guys think?

Example configs
[code]

[code]

[2022-09-26 14:59] FrancisMurillo commented on #115
Searching for answers, I think trying to support this on Windows might not be feasible without increasing complexity. My suggestion is to warn users on Windows that `tool-sync` cannot be self-updated and should go thru other means by:

- Checking if `tool-sync` is in the configuration then issue an error message
  - Also need to check with `tool-sync install`
- [PREFERRED] Whenever `tool-sync` is

[2022-09-26 16:03] chshersh commented on #115
So, [I've asked about the potential solution on Twitter](https://twitter.com/ChShersh/status/1574307573905338373) and, apparently, there's a simple way. Windows doesn't allow **updating** the executable while it's running. However (and this is weird) it allows **renaming** it (by moving to a different directory or just changing a name).

So, the simple solution to this problem seems to be followin

[2022-09-27 08:02] chshersh commented on #72
In that case, I'm closing this issue for now 🙂
We can always reopen it later.

[2022-09-27 08:02] #72 closed

[2022-09-30 17:14] DukeManh commented on #25
Hey @chshersh, I ran into the same issue trying your tool. I'd like help with this.

[2022-09-30 21:11] chshersh commented on #25
@DukeManh Sure, go for it!

[2022-10-01 17:34] #111 closed

[2022-10-02 08:07] crudiedo commented on #91
What if we also allow to provide the default string argument in {owner}/{repo} format and specify exe_name, tag, and asset_name as CLI flags?

For example, it would be possible to either use it like
`tool install xyz` (part of the hardcoded db)
Or
`tool install clementtsang/bottom --exe_name btm` (not in the hardcoded db yet)

I also though about `tool install clementtsang/bottom/btm`, but it look

[2022-10-02 09:20] MitchellBerend commented on #116
Thinking about this more another option came to mind. We can also implementing out own line terminator that way we can use the `$` and we don't add another dependency.

[2022-10-02 10:58] crudiedo commented on #69
I'd like to implement that if nobody's currently working on it.

One thing that would be good to discuss is the maximum \ threshold Levenshtein distance value to drop all the "possible" tags beyond that (and then get the most similar one) - I'm thinking about 3 or 4, but I would love to hear your thoughts!

[2022-10-02 13:23] MitchellBerend commented on #69
I'm not working on it.

It's probably a good idea to make this number a constant so its easily tunable at some later point.

[2022-10-03 12:00] chshersh commented on #91
This is exactly how I imagine the final API 🙂 If it's just `tool_name` then `tool-sync` checks among known tools and installs them. Otherwise, it tells the message with suggestion on how to install the tool.

And if you want to install a custom tool, you write i nthe `{owner}/{repo}` format.

The flags like `--exe-name` and others should be supported for both tools in case users want to override s

[2022-10-03 12:38] crudiedo commented on #69
It looks like implementing this affects the current and future code design, so I wanted to discuss that before moving forward with the implementation.

The main idea is to create a `pub enum ClientError` that would contain all the "custom" errors the API client may return.

The current `ClientError::TagError` accepts current_tag and available_tags, and implements `fmt::Display` by calculating `low

[2022-10-04 09:01] crudiedo opened #128 "Improve error message when the repo is not found"
Currently, if we mistype owner/repo in the conf file, we get this error:
[code]

It looks a bit confusing for the user since it looks like something tags\releases related.

I propose to:
- Create new `RepoError::NotFound(owner, repo)` error and implement `fmt::Display` for it (something like "Repo {owner}/repo is not found, please check if it's available")
- Send a `head` request to `https://api.g

[2022-10-05 15:31] apahl opened #129 "Consider supporting AppImage assets for Linux"
Hi, thanks a lot for this project, I love it!
Very useful when one works with a number of tools and programs outside of the distro's package manager, which I do.

I don't know how much effort it would be, but maybe you could consider to also support AppImage assets?

Kind regards,
Axel

[2022-10-05 17:05] MitchellBerend commented on #129
I have personally never heard of Applmage from the stuff I googled it either looks like a package manager or an image format. tool-sync only downloads binaries and puts them in a designated places.

What would supporting this look like conceptually?

[2022-10-06 09:01] apahl commented on #129
Well for me it is quite common, I have at least 3 apps on my system that use this means of distribution.
But ofc I do not know how representative that is.

I agree that it would require a quite significant change to the code and propose to close this issue for now.
Thanks a lot for the quick response.

KR Axel

[2022-10-06 16:45] chshersh commented on #116
@MitchellBerend This feels like reinventing the wheel. Maybe we need the ability to match the asset name **exactly**, without any substring searches. And then people can use it when the logic for guessing an asset name is not enough.

Asset names cannot change within a single version, so people can update their configurations if they change in future names.

[2022-10-06 16:52] #110 closed

[2022-10-06 17:29] MitchellBerend commented on #116
It definitely is.

Maybe a config option to enable/disable the name guessing functionality per tool is a good approach? I would have it enabled by default where the user can choose this for specific tools that pose problems.

[2022-10-06 22:38] chshersh commented on #128
The plan looks great to me! 👍🏻
The only problem, without the GitHub token, there's a quite limited number of requests a tool can do. If we add an extra request to fetch tools, it makes `tool-sync` less usable for such users.

So it makes sense to minimise the total number of requests as much as possible. I agree that it can be unavoidable sometimes to provide better UX but still.

My alternative p

[2022-10-07 00:01] chshersh commented on #129
I believe supporting AppImage wouldn't be too much difficult. It's just a matter of adding one more asset type here:

https://github.com/chshersh/tool-sync/blob/95f535cdbdc8fd4305b1378688fcc4e53c0b2bff/src/sync/archive.rs#L15-L20

And then patching the `from` method in the `impl Archive` as mentioned by @MitchellBerend. Currently, the implementation of this method is a bit ugly (and I'm not happy

[2022-10-07 00:10] #82 closed

[2022-10-07 00:20] chshersh opened #130 "Implement the 'Partial Options Monoid' pattern for the configuration"
This pattern is common in the FP world. The description (in Haskell) can be found here:

* https://medium.com/@jonathangfischoff/the-partial-options-monoid-pattern-31914a71fc67

The idea is the following:

- [ ] Create the `Options` type with all configuration fields optional
- [ ] Create functions to create this `Options` type from different environments:
    * Hardcoded default
    * Environment

[2022-10-07 00:23] chshersh commented on #116
My point is that maybe giving too much flexibility and choice for the user will make the tool more difficult to use. My guess is that the following will be enough:

1. Support automatic guess. Ideally, it should handle 99% of use cases. And we can always improve our rules when we find a counter-example.
2. Manually specify the full exact name explicitly. So that users can specify the asset name wi

[2022-10-07 07:11] crudiedo commented on #128
@chshersh thanks, it makes sense.

I believe we don't need a separate request to Github if the `releases/latest` tag is not found since, as you mentioned, it should exist for every repo.

I propose to do it this way then:

If `client.fetch_release_info()` returns 404 (the reason could be either repo or tag is not found)

- and the tag is `latest`, show the `The Repo is not available, please make s

[2022-10-07 09:20] #108 closed

[2022-10-07 09:21] #109 closed

[2022-10-07 09:37] chshersh commented on #128
@crudiedo This sounds excellent to me 💯  And thanks for checking how the API works 👍🏻

My only suggestion is for the error message when the tag is `latest`: let's also mention that the repository might not have any releases:

[code]

In theory, we could output a better error message when we see a `GITHUB_TOKEN` env variable. But it'll complicate the code significantly so let's just output messages

[2022-10-09 11:41] #25 closed

[2022-10-09 11:50] chshersh opened #131 "Refactor decoding errors with more improvements"
Custom decoding errors were implemented in the following PR:

* #122

This issue is about some minor improvements to the implementation so they can be done separately:

- [ ] Move `Value::String("some value")` into `const EXPECTED_STRING` or `STRING_TYPE`. It's a hack to reuse `toml::Value` for types of expected values. We can move them into top-level constants for easier reuse in the future:

* h

[2022-10-09 11:51] chshersh commented on #131
@DukeManh I created this issue as a follow-up to your improvements in #122. You don't need to implement this issue (unless you want to), someone else could contribute the improvements 🙂 You've created the mechanism but in this issue I propose to use it in even more places.

[2022-10-09 11:53] chshersh opened #132 "Use the environment with all the needed parts and pass it explicitly to every function"
This environment could store:

- [ ] All the tools created only once in the beginning
- [ ] `SyncProgress`

Maybe something else?

[2022-10-09 12:16] MitchellBerend opened #133 "Shell completion script"
The clap documentation points to [clap_completion](https://docs.rs/clap_complete/4.0.2/clap_complete/) as a related project. Just like `tool-sync` can generate a default `.tool.toml` I think it's a good idea for it to be able to generate shell completion scipts for commonly used shells (Bash, fish, zsh for example). `clap_complete` supports [these](https://docs.rs/clap_complete/4.0.2/clap_complete

[2022-10-09 14:54] chshersh commented on #133
I don't mind adding a separate dependency. Shell completion is a nice feature 👍🏻

I haven't used this crate though. How exactly does it work? Does it produce separate artifacts?

<hr>

On a similar note, `tool-sync` itself can't configure shell completion of tools upon installation which is a bit sad 😞 And I currently don't know the best way to do this.

[2022-10-09 15:27] MitchellBerend commented on #133
The way I use it right now is that it just prints the script to stdout. I added the like `eval "$(tool completion)"` to my `~/.bashrc` so it is persistent. Im not sure if this is the standard way for cli auto completion but the github cli has the user add the completion script to their `~/.bashprofile`.

[code]

I think `clap_completion` allows for a selection of options like the actual commands,

[2022-10-10 12:14] MitchellBerend commented on #133
There are some follow up questions that need to be addressed before this is actually implemented all the way.

`clap_complete` assumes the name of the tool will be the same as the name defined in the `Cargo.toml`, this is currently `tool-sync` but the binary is called `tool`.

I personally rename the binary by hand so this will work for me as is, but for other users that might not be the case. A d

[2022-10-10 17:32] MitchellBerend opened #136 "Upgrading clap to 4.0.x"
While looking into #133 I ran into a versioning issue between clap and clap_completion. I noticed there was a [4.0](https://github.com/clap-rs/clap/blob/master/CHANGELOG.md#400---2022-09-28) release for clap.

Is it too early to bump the clap version since the 4.0 release was on 2022 09 28? The project passes all tests and compiles and from my own testing everything works as expected. There are a

[2022-10-11 17:12] chshersh commented on #133
That's great to hear! 👏🏻 This is how it works in Haskell as well and how I enable completion on my own too 🙂

This is unfortunate 😞
Not sure what to do with this now. So, I guess we'll wait for the upstream issue resolution.

[2022-10-11 17:15] chshersh commented on #136
No, I don't think so. Upgrading `clap` sounds like a good idea 👍🏻
`tool-sync` hasn't been updating dependencies for a while. So it might be a good opportunity to update all the dependencies at once.

But we still might want to upgrade `clap` separately from other dependencies to make PRs smaller, easier to review and localise all the required changes in a single patch.

[2022-10-11 18:57] SanchithHegde commented on #136
Could I pick this up?

[2022-10-11 18:57] MitchellBerend commented on #133
For transparency's sake, it is possible to set a custom binary name for `clap_complete` by passing a `String` or `&str` to the (generate)[https://docs.rs/clap_complete/4.0.2/clap_complete/generator/fn.generate.html] function.

[2022-10-11 20:05] MitchellBerend commented on #136
@SanchithHegde sure, im not working on it.

[2022-10-12 13:07] crudiedo commented on #130
Hi everyone,

I wanted to make sure we have the same variables name format in mind:

Currently, we have 2 different kinds of things we could configure - it's either store_directory\proxy (non tools related) or any tools field.

For non-tools related variables it's quite simple:
[code]

And for the tools it would be like:
[code]

1. Do we want to use `TOOL_SYNC` as the env prefix? I thought about j

[2022-10-13 15:13] hdhoang commented on #85
this is unblocked now, i'll give shellcheck & k9s a try. sc uses tar.xz, which needs support in archive module too.

i wanted to start out with nushell, but it has some companion binaries of pattern `nu_*`. perhaps exe_name can be a glob for this case?

[2022-10-13 18:41] ChellappanRajan commented on #131
Hi @chshersh  I would like to work on this issue. Can you please assign it on my name?

[2022-10-14 07:33] chshersh commented on #131
Hi @ChellappanRajan 👋🏻
Sure, go for it 👍🏻

[2022-10-14 07:39] #136 closed

[2022-10-14 07:42] binyomen opened #138 "Support executables that aren't in an archive"
I'm thinking this would be useful for repos like [marksman](https://github.com/artempyanykh/marksman/releases) which store the executables as top-level assets rather than in archives.

Thanks! I was about to make this tool myself when I saw someone had just recently started it!

[2022-10-14 08:15] MitchellBerend commented on #133
Since #136 is resolved thanks to @SanchithHegde, this issue can also be implemented.

There is still the outstanding issue of how the naming convention should be for referring to `tool-sync`. I think it would be better if we used `tool-sync` as the name this would be less ambiguous. This would mean a change to the ci configuration and also updating the `README.md`.

We can also keep `tool` as the

[2022-10-14 09:54] MitchellBerend opened #139 "Upgrading dependencies other than clap"
Referencing #136

Other dependencies might also have released new versions but these still need to be checked.

- [ ] serde
- [ ] ureq
- [ ] zip
- [ ] console
- [ ] dirs
- [ ] flate2
- [ ] indicatif
- [ ] shellexpand
- [ ] tar
- [ ] tempdir
- [ ] toml

Edit: updated formatting

[2022-10-14 15:15] chshersh commented on #130
@crudiedo Thanks for moving the conversation! Answering your question:

I agree about the `TOOL_SYNC_` prefix for environment variables 👍🏻

No, we don't environment variables for individual tools 🙂 The usage for environment variables is to apply some configuration for every tool invocation and usually this is some _global setting_. Tool details are too granular and individual to be supported by en

[2022-10-14 15:19] chshersh commented on #133
@MitchellBerend The conversation about naming conventions is spread across multiple places so I'm going to reply here.

I've replied about the convention for the environment variables names in the corresponding issue:

* https://github.com/chshersh/tool-sync/issues/130#issuecomment-1279141262

Could you clarify a bit more about the problem with the naming convention? I'm happy to call the binary `

[2022-10-14 15:23] chshersh commented on #85
Thanks! I'll update the description ✅

Indeed, this needs to be supported separately. Feel free to create a separate issue for supporting the `xz` format. All the relevant logic is currently written in this module:

* https://github.com/chshersh/tool-sync/blob/main/src/sync/archive.rs

Could you elaborate a bit more on this? `nushell` is not on the list above so I haven't looked into it. Are you s

[2022-10-14 15:25] chshersh commented on #138
@binyomen That sounds like a good idea! `tool-sync` already supports `.exe` executables on Windows that aren't in the archive.

* https://github.com/chshersh/tool-sync/blob/5d1a6b6010ca44ec81571c4d7b677c3cb01bb6cd/src/sync/archive.rs#L67-L75

But it makes sense to support them from other platforms as well 🙂

[2022-10-14 15:42] MitchellBerend commented on #133
Because the completion script needs to actually be ran every time a new shell without a parent is spawned my question was if we are using the name `tool` or `tool-sync`. If the user renames the binary themselves this autocomplete feature breaks for them.

The way I'm reading your comment you want this to be `tool`?

[2022-10-14 20:03] binyomen commented on #138
Huh, weird, that doesn't seem to work for me. With the config:

[code]

I get the output:

[code]

[2022-10-15 11:45] chshersh commented on #133
@MitchellBerend Thanks for clarifying! I see the problem now 🙂

I would like to keep the name `tool` indeed. I'm not aware of any other tool that is named just `tool` so this seems good to me 😅
We can put a warning in the `README.md` saying that autocompletion won't work if you rename the binary.

It would be better if `clap` supported several names for the autocompletion as potential common alias

[2022-10-15 12:01] MitchellBerend commented on #133
I think we can support this by adding an optional flag possibly. There needs to be a special output to the stderr maybe since the command that gets run at first shell start up needs to hold only the completion script.

Something like
[code]

[2022-10-15 12:50] jim4067 commented on #139
Hello,

I ran `cargo update` to update all the dependencies in the `cargo.toml`.

All the tests are passing. Is this similar to what you wanted, or did you want to update the specified depencies above only?

[2022-10-15 12:59] MitchellBerend opened #141 "Missing docstring on proxy flag"
https://github.com/chshersh/tool-sync/blob/5d1a6b6010ca44ec81571c4d7b677c3cb01bb6cd/src/config/schema.rs#L13-L21
https://github.com/chshersh/tool-sync/blob/5d1a6b6010ca44ec81571c4d7b677c3cb01bb6cd/src/config/cli.rs#L5-L17

The person who implemented this flag (me) forgot to add a doc strings to explain how to use this and what it does.
This option takes a proxy that can be understood by the [ureq

[2022-10-15 13:01] chshersh commented on #138
@binyomen Huh, that **is** weird. I'd expect this work. I don't have access to Windows so I would start debugging this issue by adding a test for downloading `marksman` similar to the `ripgrep` one:

https://github.com/chshersh/tool-sync/blob/5d1a6b6010ca44ec81571c4d7b677c3cb01bb6cd/.github/workflows/ci.yml#L69-L82

At this point, I'm not even sure where exactly this is coming from so a better inv

[2022-10-15 13:02] MitchellBerend commented on #139
@jim4067 I would prefer all the dependencies but there is already a pr for this issue actually. #140

[2022-10-15 13:05] #139 closed

[2022-10-15 13:05] chshersh commented on #139
This has been resolved by @SanchithHegde in #140

[2022-10-15 13:14] jim4067 commented on #141
let me look into this

[2022-10-15 13:19] MitchellBerend commented on #141
Sure go ahead. I'm not sure what the doc string on this should be to be honest. I only know how to make the proxy work with my own set up.

The original issue is #82 and the pr is #121

[2022-10-15 13:27] chshersh commented on #141
I would simply add a usage example, e.g.:

[code]

[2022-10-15 14:48] SanchithHegde opened #143 "Set up automated dependency updates"
As of writing this, [Dependabot has been set up to only update GitHub Actions](https://github.com/chshersh/tool-sync/blob/38663d0a551ba341e1568261bb1ad92df412a3b3/.github/dependabot.yml), and Rust dependency updates are done manually. The motivation to manually update Rust dependencies has been to prevent notifications noise from Dependabot PRs.

# Requirements

1. Reduce the human intervention re

[2022-10-15 14:52] MitchellBerend commented on #133
This ended up being pretty easy to implement but there are still a few issues.

1. Elvish shell does not give a suggestion as to how the completion script should be added.
2. The match statement looks very messy to me, maybe the `src/lib` is not the right file to implement this.

[code]

[2022-10-16 08:46] binyomen commented on #138
Thanks for the tip! I'll have a look at this when I get the chance!

[2022-10-16 10:03] jim4067 commented on #107
Would like to look into this

[2022-10-17 01:31] hdhoang opened #145 "feature: extract multiple executables"
hi, [nushell](https://github.com/nushell/nushell/releases) comes with some plugins as separate executables:

[code]

(let's ignore less.exe for windows)

I suppose we can use usual globbing

[code]

or additional entries

[code]

or explicit prefix-match

[code]

This globbing, the checksum-file ignoring, and (TBD) issue about shellcheck make me think adding `glob`, is more conventional.

wdyt?

[2022-10-17 01:41] hdhoang opened #146 "groundwork for shellcheck"
hello again!

SC has only 1 public release, and well integrated in distro package managers. But it brings up some fun challenges too:

[code]

- [ ] tar.xz support (and easy addition of `.zst`, `.lzma` as needed)
- [ ] new asset_name guessing pattern (`${project}-v${version}`)

The windows zip puts shellcheck.exe in toplevel, so it works for me right away.

For the dir guessing, i attempted suffix

[2022-10-17 06:18] MitchellBerend commented on #145
This is related to #116. In that issue there are multiple hits on tarballs are found and `tool` can't deal with that (yet). There has not been a decision on how to implement this issue yet either but `glob` and `regex` are the currently on the table. I think both of those will also solve this issue.

[2022-10-19 10:54] chshersh commented on #143
@SanchithHegde Thanks a lot for writing such a detailed issue with thorough description! 🙏🏻

This helps to make an informed decision much easier 🙂

[2022-10-19 12:04] chshersh commented on #145
I don't expect the list of binaries to be large (e.g. 20+ entries). In that case, I'd propose to support an array of strings in the `exe_name` field. So, for `nushell` it could look like this:

[code]

The semantics of this is to copy everything that matches any of the strings in the array.

I don't like globs and regexes for this because they have the potential to match and copy lots of unexpecte

[2022-10-19 15:41] chshersh commented on #146
@hdhoang Thanks for writing the detailed implementation plan! The `${project}-v${version}` naming scheme is used in `hlint` as well (another CLI tool I use and would like to support) so it makes sense to support it.

Ideally, I would like to have a separate PR for `.xz` support. But we need an asset to actually test it and so far `shellcheck` is the only tool that uses `.xz`. So, in an ideal world

[2022-10-19 17:26] hdhoang commented on #138
somehow changing `copy_file` argument copies the exe correctly:

[code]

and it still extracts+copies the native-support executables as well. i can't explain or test the patch on linux yet.

[2022-10-20 10:42] #133 closed

[2022-10-21 07:57] MitchellBerend opened #148 "Left over debug println in proxy implementation should be removed"
https://github.com/chshersh/tool-sync/blob/395b21c5d39ac4e39b492657954eb283319b2291/src/infra/client.rs#L27-L57

These 2 functions have left over `println` calls from development. These look really weird when syncing a bunch of tools, instead of reusing the first shell line `tool` will print out `None` or the proxy passed in and continue to do that until all info is fetched.

![image](https://user

[2022-10-21 08:08] chshersh commented on #148
Just curious if there's a `clippy` rule or similar for leftover debug printing so we could have a warning when we left some of them before committing 🤔

[2022-10-21 08:08] MitchellBerend opened #149 "Refactoring module system"
Rust provides a couple of ways to organize projects. Currently there is a file in the root that imports all files in a dir with the same name.
I propose we add a `mod.rs` file to the dir in question so it can be imported in `src/lib` directly. It would mean the same number of files but less noise in the root. The `mod.rs` is the equivalent of the python `__init__.py`.

With change
![image](https:/

[2022-10-21 08:13] MitchellBerend commented on #148
These exist but they will also trigger on correct `println` calls
[stderr](https://rust-lang.github.io/rust-clippy/master/#print_stderr)
[stdout](https://rust-lang.github.io/rust-clippy/master/#print_stdout)

[2022-10-21 08:45] MitchellBerend commented on #148
I don't think there is a nice way to enable a lint project wide yet. There is the option to add a `clippy.toml` file but this does not allow the configuration of allowing certain specific lints.

There is an open issue on this in the main rust project.
https://github.com/rust-lang/cargo/issues/5034

[2022-10-21 12:36] #141 closed

[2022-10-21 12:50] chshersh opened #150 "Output a helpful message when there's no configuration"
Currently, when you run `tool sync` and there's no `.tool.toml` file, you see the following message:

[code]

Instead, it would be better to tell more information:

- [ ] How to generate the default configuration file (copy instructions from the documentation)
- [ ] Tell, how you can specify the path of a custom configuration using the `--config` flag

This would require matching on error here:

h

[2022-10-21 12:52] #107 closed

[2022-10-21 13:05] chshersh commented on #149
I love less noise in the root directory 🙂
The current module structure is ad-hoc and evolved as the project grows. And I'm still navigating the best structure.

I mostly added those files due to unfamiliarity with the module system. But I'd happy to remove the `model/mod.rs` and similar modules if the code still works 🧹

I imagine it should be better for incremental compilation to import only rele

[2022-10-21 13:05] chshersh commented on #149
Also, some info I found on Rust module structure and best practices:

* https://medium.com/codex/rust-modules-and-project-structure-832404a33e2e
* https://www.reddit.com/r/rust/comments/alsph9/rusts_modules_and_project_organization_best/

[2022-10-21 13:25] chshersh commented on #148
So, I went on a rabbit hole about the status of this issue and I was confused a lot 🥴

Here's what I've found so far (correct me if I'm wrong):

* `clippy` doesn't have a lint for `println!("{:?}", ...)` and `println!("{:#?}", ...)`. It's only for `println!` entirely (and `eprintln!` separately). I haven't found an issue for that in the clippy issue tracker. I imagine, lots of people using `printl

[2022-10-21 13:33] MitchellBerend commented on #149
[code]

I very much like this structure as well. I personally only make exceptions once there is a single file. The exception in this case would be the `src/install.rs` file.

[2022-10-21 18:51] jim4067 commented on #148
I'd like to help with this

[2022-10-22 17:11] MitchellBerend commented on #148
@chshersh I found a way to run clippy any clippy lints. `cargo clippy --help` shows 4 flags that correspond with the warning levels. I propose this gets added to ci and the pre-commit file. If i run `cargo clippy -- -D clippy::print_stdout` the output is:

[code]

[2022-10-26 03:00] hdhoang commented on #116
sccache has an extra pattern to disambiguate for x86_64 musl, eg https://github.com/mozilla/sccache/releases/tag/v0.3.0

[code]

where the version is embedded in the middle, and a companion asset has a different name

`k9s` 0.29 shipped a companion `.sbom` file. We should filter that extension out.

[2022-10-26 14:41] #149 closed

[2022-10-26 14:42] #148 closed

[2022-10-26 14:44] chshersh commented on #148
@MitchellBerend The issue is about removing extra calls and it's now resolved by @jim4067 in #152.

Could you open a separate issue about clippy warnings? I didn't have the chance to look into it yet 😞

Also, IIUC, it should be enough to put these clippy options only in `src/lib.rs` to apply them to the entire `tool-sync` which is not that bad actually. So maybe we can do this instead of patching

[2022-10-26 17:11] MitchellBerend commented on #148
I thought I tried this and it didn't work. I'll look into this though and if I can't get it working ill open a new issue.

[2022-10-27 08:42] MitchellBerend opened #156 "Adding lint options to prevent stray debug println"
This is a continuation of #148. The code snippet below can be added at the top of`src/lib.rs` to prevent `println!` that are used for debugging purposes, from making it into the main branch.

[code]

[2022-10-27 09:09] MitchellBerend commented on #156
For future reference, you can annotate your function or method with the following attribute so clippy passes ci:
[code]

[2022-11-05 00:28] binyomen commented on #138
It looks like the issue is that for marksman for example, the path passed to `copy_file` is just `marksman.exe` rather than the whole path (for `tool` it's `C:\Users\binyomen\AppData\Local\Temp\tool-sync.AeusgFEbnvL2\tool.exe`).

I'm working on a fix now.

[2022-11-05 01:55] binyomen commented on #115
For what it's worth, here's my understanding of why this happens:

Linux/unix has a concept of "unlinking" rather than "deleting" files. This basically removes the file from the directory tree, but it doesn't delete the file object (inode[^inode]) in the kernel or free the file's data on disk until all open file descriptors are closed and hard links are unlinked. Basically each inode has a referen

[2022-11-05 01:55] binyomen commented on #115
Is anybody currently working on this? If not, I'd be happy to take it on.

[2022-11-09 10:26] MitchellBerend commented on #115
I'll try and test this on my machine, I haven't actually self updated yet so I'm not sure.

[2022-11-09 14:55] MitchellBerend commented on #115
@binyomen It doesn't actually work for me either. If what you are saying is the case the ci needs to be changed as well so it does not give a false positive.

[code]

[2022-11-16 21:04] binyomen commented on #115
Sorry for the radio silence on this. I can work on both self update in unix and windows then.

[2022-11-30 14:20] chshersh opened #159 "Bash autocompletion doesn't work"
I'm trying to configure autocompletion for `tool-sync`. Unfortunately, it doesn't work on my Ubuntu 20.04 and `bash` shell. I'm trying to add the suggested line to `.bashrc` and `~/.bash_profile` (I also made sure that I have `bash-completion` installed).

I tried specifying the following lines. But nothing works for me:

[code]

So some investigation is required to fix this. Maybe it's just me. I